<br>
<hr>
<h1>HOME PAGE</h1>
<!--<a href="https#://ffbacf0b71bf47a997a0df2f8e9b2a37.vfs.cloud9.us-east-1.amazonaws.com/users/sign_out">sign_out</a>-->

<!--<p>Find me in app/views/static_pages/home.html.erb</p>-->
